.cart-heading{
    color: #5C2018;
    margin: 4rem;
}
.cart-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left:10rem;
}
.cart-total{
    max-width: 32%;
}
.cart-total p{
    text-align: center;
}
.hr{
border: 1px solid #BC4639;
  border-radius: 5px;
}